[Unit]
Description=Gunicorn instance to serve the webserver
After=network.target

[Service]
User=USERNAME
Group=www-data
WorkingDirectory=SOURCE_PATH
Environment="PATH=SOURCE_PATH/venv/bin"
ExecStart=SOURCE_PATH/venv/bin/gunicorn -b SERVER_IP --workers 3 --bind unix:server.sock -m 007 "server:create_app()"

[Install]
WantedBy=multi-user.target
