alembic==1.5.8
numpy==1.21.4
cartopy==0.20.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
dask==2021.10.0
decorator==4.4.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
fsspec==2021.4.0
geographiclib==1.50
geopy==2.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver==1.3.1
locket==0.2.1
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.4.1
networkx==2.5.1
pandas==1.3.4
pangres==2.2.3
partd==1.2.0
Pillow==8.3.2
psycopg2-binary==2.8.6
pyhafas==0.3.0
pyparsing==2.4.7
pyproj==3.2.1
pyshp==2.1.3
python-dateutil==2.8.1
python-editor==1.0.4
python-igraph==0.9.8
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.2
Shapely==1.8.0
six==1.15.0
SQLAlchemy==1.4.22
texttable==1.6.3
threadpoolctl==2.1.0
toolz==0.11.1
tqdm==4.60.0
urllib3==1.26.5
Werkzeug==1.0.1
xgboost==1.4.1
